vendor/
phpunit.xml
.vagrant/
.idea/
.phpintel/
*.iml
.env
config/development.config.php
config/database.config.php
module/Application/config/config.php
logs/*
data/cache/*
public/images/*
public/files/*