vendor/
phpunit.xml
.vagrant/
.idea/
.vscode/
.phpintel/
nbproject/
*.iml
.env
composer.lock
config/development.config.php
config/database.config.php
module/Application/config/config.php
logs/*
data/*
!data/countries.json
!data/cache/.gitkeep
public/images/*
public/files/*
uploads/images/*/*
uploads/files/*/*