.hidden {
    display: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.clear {
    clear: both;
}

.w-7 {
    width: 7% !important;
}

.w-10 {
    width: 10% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-30 {
    width: 30% !important;
}

.w-33 {
    width: 33% !important;
}

.w-35 {
    width: 35% !important;
}

.w-40{
    width: 40% !important;
}

.w-45{
    width: 45% !important;
}

.col-lg-0d5, .col-md-0d5, .col-lg-1d5, .col-md-1d5, .col-lg-2d5, .col-md-2d5, .col-lg-3d5, .col-md-3d5, .col-lg-4d5, .col-md-4d5, .col-lg-10d5, .col-md-10d5 {
    position:relative;
    width:100%;
    padding-right:15px;
    padding-left:15px
}
.col-lg-0d5 {
    -ms-flex:0 0 4.166667%;
    flex:0 0 4.166667%;
    max-width:4.166667%
}
.col-md-0d5 {
    -ms-flex:0 0 4.166667%;
    flex:0 0 4.166667%;
    max-width:4.166667%
}
.col-lg-1d5 {
    -ms-flex:0 0 12.5%;
    flex:0 0 12.5%;
    max-width:12.5%
}
.col-md-1d5 {
    -ms-flex:0 0 12.5%;
    flex:0 0 12.5%;
    max-width:12.5%
}
.col-lg-2d5 {
    -ms-flex:0 0 20.833333%;
    flex:0 0 20.833333%;
    max-width:20.833333%
}
.col-md-2d5 {
    -ms-flex:0 0 20.833333%;
    flex:0 0 20.833333%;
    max-width:20.833333%
}
.col-lg-3d5 {
    -ms-flex:0 0 29.166667%;
    flex:0 0 29.166667%;
    max-width:29.166667%
}
.col-md-3d5 {
    -ms-flex:0 0 29.166667%;
    flex:0 0 29.166667%;
    max-width:29.166667%
}
.col-lg-4d5 {
    -ms-flex:0 0 37.5%;
    flex:0 0 37.5%;
    max-width:37.5%
}
.col-md-4d5 {
    -ms-flex:0 0 37.5%;
    flex:0 0 37.5%;
    max-width:37.5%
}
.col-lg-10d5 {
    -ms-flex:0 0 87.5%;
    flex:0 0 87.5%;
    max-width:87.5%
}
.col-md-10d5 {
    -ms-flex:0 0 87.5%;
    flex:0 0 87.5%;
    max-width:87.5%
}

.hover {
    background-color: #FFE5CC !important;
}

.text-blue {
    color: #007bff !important;
}

.text-green {
    color: #33b35a !important;
}

.text-red {
    color: #c82333 !important;
}

.text-white{
    color: whitesmoke !important;
}

.text-purple-light {
    color: #b388ff !important;
}

.text-blue-light {
    color: #81d4fa !important;
}

.bg-green{
    background-color: #4BB543 !important;
}

.bg-blue {
    background-color: #4285f4 !important;
}

.bg-orange{
    background-color: #f39c12 !important;
}

.bg-red{
    background-color: #c82333 !important;
}

.btnCollapse:after {
    font-size: 2rem;
    font-family: "Font Awesome 5 Solid";
    content: "\f107";
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
}

.btnCollapse.collapsed:after {
    content: "\f105";
}

label.required:before {
    color: red;
    content: "* ";
}

.table td, .table th {
    height: 50px;
}

.table-hover > tbody > tr:hover {
    background-color: #FFE5CC !important;
}

tr.rowParent {
    background-color: #a9d6ff !important;
}

tr.active {
    background-color: #bbdefb !important;
}

.toast {
    max-width: 100%;
}

.notification_box {
    position: fixed;
    min-width: 25%;
    min-height: 30px;
    left: 2px;
    bottom: 10px;
    padding: 18px 15px 10px 15px;
    color: #c36e00;
    background-color: #fffe87;
    z-index: 10002;
    display: none;
}
.notification_box > p {
    float: left;
}
.notification_box > img {
    float: right;
    margin: 3px 0px 5px 0;
}

.loadingText {
    color: #c36e00;
    display: block;
    text-align: center;
    font-size: larger;
}
.loadingText:after {
    color: #c36e00;
    content: ' .';
    animation: dots 1s steps(5, end) infinite;
}
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: #c36e00;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
                .25em 0 0 #c36e00,
                .5em 0 0 rgba(0,0,0,0);
    }
    80%, 100% {
        text-shadow:
                .25em 0 0 #c36e00,
                .5em 0 0 #c36e00;
    }
}

/* Floating label */
.label-float label{
    pointer-events: none;
    position: absolute;
    line-height: 1px;
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    box-sizing: border-box;
    padding: 0 5px;
    margin-bottom: 0;
    z-index: 1;
}
.label-float input{
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
}
.label-float input::placeholder{
    color:transparent;
}
.label-float input:required:invalid + label{
    color: red;
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
    font-size: 13px;
    top: 0;
    color: #3951b2;
}
/* End Floating label */

.grecaptcha-badge{
    display:none;
}